  {{!< auth}}
    <div class="glass-background">
        <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
    </div>
    <div class="container">
        <div class="form-box login">
            <form action="">
                <div class="form-logo">
                    <div class="float-wrapper">
                        <img src="/img/logobc3.png" alt="Logo">
                    </div>
                </div>
                <h1>Faça o login</h1>
                <h2>Bem vindo de volta! Por favor, insira seus dados</h2>

                <div class="input-wrapper">
                    <div class="input-box">
                        <input type="text" id="login-nome" name="nome">
                        <label for="login-nome">Informe seu nome</label>
                        <i class="fas fa-user"></i>
                    </div>
                    <span class="error-message"></span>
                </div>

                <div class="input-wrapper">
                    <div class="input-box">
                        <input type="password" id="login-senha" name="senha">
                        <label for="login-senha">Informe sua senha</label>
                        <i class="fas fa-lock"></i>
                    </div>
                    <span class="error-message"></span>
                </div>

                <div class="forgot-link">
                    <a href="#" class="forgot-btn">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btnform">Login</button>
            </form>
        </div>
        <div class="form-box register">
            <form action="">
                <div class="form-logo">
                    <div class="float-wrapper">
                        <img src="/img/logobc3.png" alt="Logo">
                    </div>
                </div>
                <h1>Cadastre-se</h1>
                <h2>Bem vindo! Por favor, insira seus dados</h2>

                <div class="input-wrapper">
                    <div class="input-box">
                        <input type="text" id="cadastro-nome" name="nome">
                        <label for="cadastro-nome">Informe seu nome</label>
                        <i class="fas fa-user"></i>
                    </div>
                    <span class="error-message"></span>
                </div>

                <div class="input-wrapper">
                    <div class="input-box">
                        <input type="email" id="cadastro-email" name="email">
                        <label for="cadastro-email">Informe seu email</label>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <span class="error-message"></span>
                </div>

                <div class="input-wrapper">
                    <div class="input-box">
                        <input type="password" id="cadastro-senha" name="senha">
                        <label for="cadastro-senha">Informe sua senha</label>
                        <i class="fas fa-lock"></i>
                    </div>
                    <span class="error-message"></span>
                </div>

                <div class="input-wrapper">
                    <div class="input-box">
                        <input type="password" id="cadastro-confirmar-senha" name="confirmar_senha">
                        <label for="cadastro-confirmar-senha">Confirme sua senha</label>
                        <i class="fas fa-lock"></i>
                    </div>
                    <span class="error-message"></span>
                </div>

                <button type="submit" class="btnform">Registrar</button>
            </form>
        </div>

        <div class="toggle-box">
            <!-- Toggle Left -->
            <div class="toggle-panel toggle-left">
                <div class="toggle-panel-content">
                    <p class="slogan">"Controle seu estoque com eficiência, cresça com confiança!"</p>
                    <div class="bemvindo">
                        <h2>Bem vindo(a) de volta!</h2>
                        <h3>Logue em sua conta para gerenciar seus produtos</h3>
                    </div>
                    <p class="naotemconta">Não tem uma conta?</p>
                    <button class="btn register-btn">Registre-se</button>
                </div>
                <p class="copyright">Copyright &copy; 2025 by BinariusCode | All Rights Reserved.</p>
            </div>

            <div class="toggle-panel toggle-right">
                <div class="toggle-panel-content">
                    <p class="slogan">"Controle seu estoque com eficiência, cresça com confiança!"</p>
                    <div class="bemvindo">
                        <h2>Bem vindo(a)!</h2>
                        <h3>Crie uma conta para gerenciar seus produtos</h3>
                    </div>
                    <p class="naotemconta">Já tem uma conta?</p>
                    <button class="btn login-btn">Logue</button>
                </div>
                <p class="copyright">Copyright &copy; 2025 by BinariusCode | All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <div class="recsenha">

        <form action="">
            <div class="form-logotela2">
                <div class="float-wrapper">
                    <img src="/img/logobc3.png" alt="Logo">
                </div>
            </div>
            <h1>Recuperar Senha</h1>
            <h2>Informe o e-mail cadastrado para redefinir sua senha</h2>

            <div class="input-wrapper">
                <div class="input-box">
                    <input type="email" id="recuperar-email">
                    <label for="recuperar-email">Email</label>
                    <i class="fas fa-envelope"></i>
                </div>
            </div>

            <button type="submit" class="btnform">Enviar link</button>
            <p class="voltar-login"><a href="#" class="voltar-btn">Voltar ao login</a></p>
        </form>
    </div>